<link href="//db.onlinewebfonts.com/c/38025932dce48e268882d955f7a66826?family=Alte+Haas+Grotesk" rel="stylesheet" type="text/css"/>
<style>
    .intro-text{font-family: Alte Haas Grotesk, sans-serif;}
    h3{font-size:24px;}
    p{color:#5a5a5a;}
</style>

<div ng-show="currentUser" style="min-height:80%">
    <section id="about-1">
        <div class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <h2>Inspiro</h2>
                        <p style="color:white">Breathe | Be Healthy</p>
                    </div>
                    <div class="col-sm-2 col-xs-4"><img style="width:100%" src="images/windgiffade.gif"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="spacing-25"></div>
    <div class="container">
        <h3>INSPIRO</h3>
        <p>Connect your device</p><hr>
        <div class="spacing-25"></div>
        <div class="col-sm-10 col-xs-8">
            <highchart config="timeChart"></highchart>
        </div>
        <div class="col-sm-2 col-xs-4">
            <highchart config="thresholdChart"></highchart>
        </div>
        <button style="border-radius:30px;background-color:#466ab8" ng-show="!isRunning" class="btn btn-default log-btn" ng-click="start()">START</button>
        <button style="border-radius:30px;background-color:#466ab8" ng-show="isRunning" class="btn btn-default log-btn" ng-click="stop()">STOP</button>
        <div class="spacing-25"></div>
        <h4>Readings</h4>
        <!--<p>need n times per hour</p>-->
        <p ng-show="readings.length==0">No Readings</p>
        <table ng-show="readings.length>0" class="table table-striped table-hover">
            <thead>
                <tr>
                    <!--<th>User</th>-->
                    <th>Time</th>
                    <th>Data</th>   
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reading in readings">
                    <!--<td>{{reading.user}}</td>-->
                    <td>{{reading.time}}</td>
                    <td>{{reading.data}}</td>
                    <td>{{reading.createdAt}}</td>
                </tr>
            </tbody>
        </table>
        <div class="spacing-25"></div>
    </div>
</div>

<div ng-show="!currentUser">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--<img class="intro-img" src="images/inspiro.png">-->
                        <img class="intro-img" style="width:50%;border-radius:50px" src="images/windgiffade.gif"><br>
                        <div class="spacing-15"></div>
                        <p class="intro-text">Inspire Breathing</p>
                        <div class="spacing-15"></div>
                        <p style="font-weight:200;font-size:18px;" class="intro-text">Be Happy, Be Strong, Be Healthy</p>
                        <div class="spacing-15"></div>
                        <p style="font-weight:200;font-size:16px" class="intro-text">Smart Spirometry & Breath Control</p>
                        <div class="spacing-25"></div>
                        <a href="#about" class="btn btn-circle page-scroll" du-smooth-scroll>
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="spacing-25"></div>
        <div class="container">

            <div class="row">
                <div class="col-xs-10">
                    <h2>Inspire Breathing</h2>
                    <h4>Be Happy, Be Strong, Be Healthy</h4>
                </div>
                <div class="col-xs-2">
                    <!--<img style="width:70%" src="images/windgif.gif">-->
                </div>
            </div>

            <div class="spacing-25"></div>

            <div class="row">
                <div class="col-md-6">
                    <h3 style="color:black">A Platform, & Paradigm</h3>
                    <p>Focus intent on your life force! Breathing connects you to your body!</p>
                </div>
                <!--<div class="col-md-4">
                    <h3 style="color:black">Measure Your Breath</h3>
                    <p>Discrete breathing & lung exercises have positive health effects [<a href="#">1</a>].</p>
                    <p style="font-size:12px;color:gray">After surgery and in geriatric environments effects are compounded.</p>
                </div>-->
                <div class="col-md-6">
                    <h3 style="color:black">Love the Effort</h3>

                    <!--DESIGNED TO CONNECT TO LYMPHATIC SYSTEMS : REDUCE STRESS AND INFLAMATION: AND STRENGTHEND MIND-BODY CONNECTION AND LUNG STRENGTH-->
                    <p>Inspiro delivers an interactive interface which provides incentives designed to reduce and reverse the formation of atelectasis and strengthen lung function. <a href="#">[?]</a></p>
                </div>
            </div>

            <div class="spacing-25"></div>

            <div class="row">
                <div class="col-md-5">
                    <img style="width:100%" src="images/devicegif.gif">
                    <p>
                        <span style="font-size:14px">Inspiro delivers spirometry metics on the following:</span>
                        <br>
                        <span style="font-style:italic;font-size:10px">DLCO, KCO, VA, PEF, PIF, MVV, FEV1, FEV.5, FEV3, FEV6, FEV1/FVC, FEV3/FVC, FEV1/FEV6, FIVC, FIV1, FIV1/FIVC FEF2575, FET ML: ELA</span>
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="">
                            <h3 style="color:black">Why This Matters</h3>
                            <p style="font-size:16px">
                                <span>Discrete breathing & lung exercises have positive health effects [<a href="#">1</a>]. The majority of incentive spirometry trials fail to effectively monitor patient compliance. Inspiro allows for gamification and postive, interactive, physican feedback. It tokenizes, publishes, and interactivly engages members to use their device.</span>
                                <br>
                                <span style="font-size:12px;color:gray">* After surgery and in geriatric environments effects are compounded.</span>
                                <br>
                                <span style="font-size:12px;color:gray">1. <a target="_blank" href="http://rc.rcjournal.com/content/respcare/63/3/347.full.pdf">Source</a></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <h3 style="color:black">Evidence and Your Contribution</h3>
                            <p>To clearly elucidate the benefits of measured breath, there is a need for large control trials with high methodological rigor. Create a valuable contribution to scientific literature. <a style="text-decoration: underline" href="#">Opt in</a> to contribute to scientic advancement.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacing-25"></div>

        </div>
    </section>
    <section id="about-1">
        <div class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <h2>Inspiro</h2>
                        <p style="color:white">Breathe In Life, Breathe Out Life</p>
                    </div>
                    <div class="col-sm-2 col-xs-4"><img style="width:100%" src="images/windgiffade.gif"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="spacing-25"></div>
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12">
                    <h3>Smart IoT Healthcare</h3>
                    <p><a href="">iPhone</a>, <a href="">Android</a></p>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3 style="color:black">Inspiro Technology</h3>
                    <br>
                    <img class="col-xs-12" style="width:50%" src="images/geometricDevice.jpg">
                    <br>
                    <p>Inspiro creates opportunity to value your breath. Smart Spirometry allows breath to be a source of <a href="https://www.cre8.xyz/about">Universal Tokenization</a>. As a game controller, Inspiro allows for rich experiences.</p>
                    <div class="col-xs-12 spacing-25"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 style="color:black">Your Journey</h3>
                    <br>
                    <img class="col-xs-12"  style="width:50%;border-radius:50px" src="images/windgiffade.gif">
                    <br>
                    <p>From meditation and breathing to gamification and healing, Inspiro walks you though a curated journey of disovering the power of breath. </p>
                </div>
            </div>  
            <div class="spacing-25"></div>
            <div class="row">
                <div style="text-align: center" class="col-lg-12">
                    <h3>Games and Apps</h3>
                    <p><!--Creatively Focus intent on your life force! Are you awake?--> Breathing connects you to your body! Applications allow for the creation and sharing of techniques and exercises. Tokenize the effort and earn reputation and income for participation.</p>
                    <!--<img style="height:70px" src="https://www.wimhofmethod.com/cache/uploads/medias/e08a1a59-80b6-41e3-a5d5-9ba38c91980b/5aaa36933f52e.png">-->
                    <img style="height:70px" src="https://media.istockphoto.com/vectors/spirometer-medical-equipment-the-device-determines-the-volume-of-the-vector-id877010706?s=170x170">
                    <img style="height:70px" src="https://cdn2.iconfinder.com/data/icons/air-pollution/512/air-pollution-contamination_-11-512.png">
                    <img style="height:70px" src="https://cdn1.iconfinder.com/data/icons/anger-management/237/anger-001-512.png">
                    <br><br>
                    <!--ON CRE8-->
                    <a style="text-align:center" href="/apps"><h5>See more</h5></a>
                </div>
            </div>      
            <div class="spacing-25"></div>
            <div class="row">
                <div style="text-align: center" class="col-lg-12">
                    <!--<h3>Smart IoT Healthcare</h3>-->
                    <h3>You Can Transform</h3>
                    <p>Focus intent on your life force! Breathing connects you to your body!</p>
                    <p>Raise your vibration? Breathe and feel the good energy! </div>p>
                    <!--<p>Operate on atother frequency, continuallly </p>-->
                </div>
            </div>      
            <div class="spacing-25"></div>
            <div class="row">
                <div class="col-lg-12">
                    <button style="border-radius:30px;background-color:#466ab8" ng-click="purchase()" class="btn btn-default log-btn">purchase</button>
                    <div class="purchase-area" ng-show="purchasing">
                        <div class="spacing-25"></div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="col-md-7">
                                    <h2>Inspiro</h2>
                                    <h4>$35</h4>
                                    <p style="font-size:14px"></p>
                                </div>
                                <div class="col-md-3">
                                    <img style="width:350px" src="images/devicegif.gif">
                                    <br><br>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h3 style="color:black">Enter Your Information</h3>
                                <div class="login-form">
                                    <form role="form" method="post">
                                        <div class="form-group">
                                            <input class="form-control" ng-model="newOrder.email" name="identifier" placeholder="Email" title="username" type="text"> 
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.firstName" name="firstName" placeholder="First Name" title="First Name">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.lastName" name="lastName" placeholder="Last Name" title="Last Name">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.quantity" name="quantity" placeholder="Quantity" title="Quantity">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.shippingAddress" name="shippingAddress" placeholder="Shipping Address" title="shippingAddress">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.billingAddress" name="billingAddress" placeholder="Billing Address" title="billingAddress">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.cardNumber" name="card" placeholder="Card Number" title="card">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.cardCCV" name="cardCCV" placeholder="Card CCV" title="cardCCV">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="form-group log-status">
                                            <input class="form-control" ng-model="newOrder.cardExpiration" name="cardExpiration" placeholder="Card Expiration Date" title="cardExpiration">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="align-right">
                                            <button style="border-radius:30px;background-color:#466ab8" class="btn btn-default log-btn" ng-click="createOrder()">Purchase</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <a style="text-align:center" href="/login"><h5>Already a Member?</h5></a>
                </div>
            </div>
        </div>
        <div class="spacing-25"></div>
    </section>
</div>

<div ng-include="'footer/index.tpl.html'"></div>