<section id="about-1">
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-xs-8">
                    <h2><a href="/">Inspiro</a></h2>
                    <p style="color:white">Breathe | Improve Your Health</p>
                </div>
                <div class="col-sm-2 col-xs-4"><a href="/"><img style="width:100%" src="images/windgiffade.gif"></a></div>
            </div>
        </div>
    </div>
</section>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="blue-title">Create an Account</h1>
                    <h2 class="post-title">
                        Welcome!
                    </h2><hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacing-25"></div>
<div class="container" style="min-height:60%">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="login-form">
                <form role="form" method="post" action="/auth/local/register">
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="email" title="email" type="email"> 
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="username" title="username" type="text"> 
                        <i class="fa fa-user"></i>
                    </div>
                    <!--<div class="form-group">
                        <input class="form-control" name="firstName" placeholder="First Name" title="First Name" type="text"> 
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="lastName" placeholder="Last Name" title="Last Name" type="text"> 
                        <i class="fa fa-user"></i>
                    </div>-->
                    <div class="form-group log-status">
                        <input class="form-control" name="password" placeholder="password" title="password" type="password"> 
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="align-right">
                        <button style="border-radius:30px;background-color:#466ab8" class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
                    </div>
                    <!--<br><br>
                    <div class="social-log">
                        <a style="text-transform:none;" class="btn btn-facebook" ng-click=""><i class="fa fa-facebook"></i><b> Facebook</b></a>
                        <a style="text-transform:none;"class="btn btn-twitter" ng-click=""><i class="fa fa-twitter"></i><b> Twitter</b></a>
                        <a style="text-transform:none;" class="btn btn-google" ng-click=""><i class="fa fa-google"></i><b> Google</b></a>
                    </div>-->
                    <br><hr>
                    <div class="social-log">
                        <a href="/login"><h3>Already Have an Account?</h3></a>
                    </div>
                </form>
            </div>
            <div class="selfClear"></div>
        </div>
    </div>
</div>
<div class="spacing-25"></div>
<div ng-include="'footer/index.tpl.html'"></div>